body{
    background-image: url(logo.png);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30% 30%;

}

h1{
    text-align: center;
    background-color:darkgray;
}

.main {
    position: absolute;
    top: 17%;
    left: 38%;
    border: 2px solid black;
    padding: 30px;
    background-color: rgba(0,0,0,0);
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 100px;

}